<table class="table table-hover">
            <tr>
                <td width="85px">
                        <a href="{{ url_for('user', username=sample.researcher.username)}}">
                        <img src="{{ sample.researcher.avatar(36) }}"/> </a>
                <td> 
                    <a href="{{ url_for('user', username=sample.researcher.username)}}"> 
                            {{ sample.researcher.username}}</a> Uploaded : <br> {{sample.description}} <br>
                            {{ sample.species}} <br> <b>Project Owner by :  </b> {{sample.owner}} 
                </td>
            </tr>
</table>