{% extends "header.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h2> Get All The Information On Exsisting Samples </h2>
  
    {% for sample in samples %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="">
        <ul class="pager">
            <li class="previous {% if not prev_url %} disables {% endif%}">
                <a href="{{ prev_url or '#'}}" >  
                    <span aria-hidden="true">&larr;</span>
                    Newer Posts</a>
            </li>
            <li class="next {% if not next_url %} disables {% endif%}">
                <a href="{{ next_url or '#'}}" >  
                    <span aria-hidden="true">&larr;</span> Older Posts
                    </a>
            </li>
        </ul>
    </nav>


{%endblock%}

 

